* {
    text-decoration: none;
    box-sizing: border-box;
}

.list {
    text-align: center;
    padding-top: 10px;
}

.list > li {
    display: inline-block;
    position: relative;
}


.list-link {
    display: block;
    padding: 20px 30px;
    background-color: #292929;
    color: white;
}

.link:hover {
    background-color: blueviolet;
    color: aqua;
    font-weight: 900;
}

.list__item > ul {
    position: absolute;
    display: none;
}

.under-list li {
    position: relative;
}

.list__item, .under-list__item, .footer-list__item {
    width: 150px;
}

.list__item:hover .under-list {
    display: block;
}

.under-list__item > ul {
    display: none;
    position: absolute;
}

.under-list__item:hover .footer-list {
    display: block;
}

.footer-list {
    position: absolute;
    left: 100%;
    top: 0%;
}